/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "partials/base";
@import "fancy-buttons";

div#container { @include container }
header {
  height: 75px;
  border-bottom: 6px solid black;
  margin: 20px 0px;;
  display: block;
  h1 {
    margin-bottom: 25px;
  }
  ul {
    height: 25px;
    margin-bottom: 25px;
    li {
      display: block;
      float: left;
      margin-right: 20px;
    }
  }
}


form ul {
  li {
    margin-left: 20px;
    position: relative;
    label.fix {
      position: relative;
      top: -5px;
    }
    label {
      position: absolute;
      top: 10px;
      left: 5px;
      font-size: 18px;
    }
    input {
      border: 1px solid black;
      height: 26px;
      font-size: 16px;
      padding-left: 3px;
      width: 280px;
    }
    textarea {
      padding: 5px;
      font-size: 16px;
      height: 70px;
      width: 450px;
    }
    margin-bottom: 10px;
    input.checkbox { width: 20px; }
  }
  li.submit input {
    @include fancy-button(#2966a8);
    height: auto;
    width: 280px;
  }
}

div#main {
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  ol {
    li {
      @include rounded;
      border: 1px solid black;
      padding: 20px;
      margin-bottom: 20px;
    
    }
  }
}